@import 'normalize';

$tic-toe-color: #f00;
$main-color: #bfbfbf;

body {
  padding: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


.square {
  display: inline-block;
  width: 185px;
  height: 165px;
  margin: 3px;
  background-color: $main-color;
  vertical-align: top;
  font-size: 700%;
  color: $tic-toe-color;
  .row {
    min-width: 600px ;
  }
}


#new-game {
  padding: 10px;
}
